<main class="h-full pb-16 overflow-y-auto bg-gray-50 flex justify-center items-center">
    <div class="container flex flex-col items-center px-6 mx-auto text-center">
      <div class="rounded-full bg-purple-100 p-4">
        <svg
          class="w-16 h-16 text-purple-500"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <h1 class="text-6xl font-bold text-purple-600 mt-8">
        404
      </h1>
      <p class="text-lg text-gray-600 mt-4">
        Lo sentimos, la página que buscas no existe. Por favor, verifica la dirección o
        <a
          class="text-purple-600 hover:underline font-semibold"
          routerLink="/dashboard"
        >
          vuelve al inicio
        </a>.
      </p>
    </div>
  </main>
  